h2 {
  margin:auto;
  font-weight: bold;
}

mat-dialog-options {
  display: flex;
  justify-content: center;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-right: 24px;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}

