<div class='form-and-message-container'>
  <div id='messagesContainer'>
    @for (message of messages; track message; let i = $index) {
      @if (i == 0 || !message.date?.dateIsEqualTo(messages[i - 1].date)) {
        <div class='date'>
          <mat-divider></mat-divider>
          <p>{{ message.date?.getWholeDate() }}</p>
          <mat-divider></mat-divider>
        </div>
      }
      <div class='message'>
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src='{{ message.user.profilePic }}'>
            <mat-card-title>{{ message.user.username }}</mat-card-title>
            <mat-card-subtitle>{{ message.date?.time }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ message.content }}</p>
          </mat-card-content>
        </mat-card>
      </div>  
    }
  </div>
  
  
  <div class='form-container'>
    <mat-form-field class='inputField' appearance="fill">
      <input [(ngModel)]='inputMessage' matInput (keydown.enter)="addMessage()">
    </mat-form-field>
    <button mat-icon-button (click)='addMessage()'>
      <mat-icon class='large-icon'>arrow_circle_right</mat-icon>
    </button>
  </div>
</div>

<!-- <button (click)='changeDate()'>Change date</button> -->