@let openConversation = this.openConversation();
@if (openConversation) {
  <div class='form-and-message-container'>
    <div id='messageContainer'>
      @for (message of openConversation.messages; track message.id; let i = $index) {
        @let date = createNewDate(message.date);
        @if (i == 0 || !date.isSameDayAs(openConversation.messages[i - 1].date)) {
          <div class='date'>
            <mat-divider></mat-divider>
            <p>{{ date.turnDateToString()}}</p>
            <mat-divider></mat-divider>
          </div>
        }
        <div class='message'>
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar src='{{ getUserById(message.senderId)?.profilePicUrl }}'>
              <mat-card-title>{{ getUserById(message.senderId)?.username }}</mat-card-title>
              <mat-card-subtitle>{{ date.time }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ message.content }}</p>
            </mat-card-content>
          </mat-card>
        </div>  
      }
    </div>
    <div class='form-container'>
      <!-- <form class='inputField' appearance="fill"> -->
        <input class='inputField' [(ngModel)]='inputMessage' (keydown.enter)="addMessage()">
      <!-- </form> -->
      <button mat-icon-button (click)='addMessage()'>
        <mat-icon class='large-icon'>send</mat-icon>
      </button>
    </div>
  </div>
}

@else {
  <div class='text'>
    <h3>Please Select User to start chatting!</h3>
  </div>
}