<h2 mat-dialog-title style='font-weight: bold;'>Create Account:</h2>
@if (createForm) {
  <form [formGroup]='createForm'>
    <mat-dialog-content>
      <div class='profilePic'>
        Your Profile Picture:
        <img [src]='imageDisplayed' (click)='fileInput.click()'>
        <input type='file' #fileInput (change)='onFileSelected($event)' style='display: none'>
      </div>
      <div class='input-container'>
        @if (usernameErrorMessage) {
          <div class='errorMessage'>{{usernameErrorMessage}}</div>
        }
        <mat-icon>person</mat-icon>
        <mat-form-field floatLabel='auto'>
          <mat-label>User Name</mat-label>
          <input formControlName='username' matInput required>
          <mat-error>username required</mat-error>
        </mat-form-field>
      </div>
      <div class='input-container'>
        <mat-icon>lock</mat-icon>
        <mat-form-field floatLabel='auto'>
          <mat-label>Password</mat-label>
          <input formControlName='password' matInput required type='password'>
          <mat-error>password required</mat-error>
        </mat-form-field>
      </div>
      @if (accountCreated) {
        <div class='create-message'>{{createAccountMessage}}</div>
      }
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class='action-buttons'>
        @if (!accountCreated) {
          <button mat-button (click)='createAccount()'>Create Account</button>
        } 
        @else {
          <button mat-button (click)='login()'>LogIn</button>
        }
        <button mat-button (click)='cancel()'>Cancel</button>
      </div>
    </mat-dialog-actions>
  </form>
}
