<div>
  <h2>Active Chats</h2>
</div>
<div>
  <mat-action-list>
  @for (user of users; track user) {
    <button mat-list-item>
      <img matListItemAvatar src='{{user.profilePic}}'/>
      <h3 matListItemTitle class='userName'>
        <span matBadge="10" matBadgeOverlap="false">{{ user.username }}</span></h3>
      <p matListItemLine>
        @if (user.active) {
          <mat-icon style='color: lightgreen'>check_circle</mat-icon>
        } @else {
          <mat-icon style='color: red'>close</mat-icon>
        }
      </p>
    </button>
  }
  </mat-action-list>
</div>
<button mat-icon-button class='add-chat' matTooltip='Start new chat' matTooltipPosition="after">
  <mat-icon>add_circle</mat-icon>
</button>
