:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(55, 55, 61);
  width: 400px;
  color: white;
}

mat-badge-medium.mat-badge-above .mat-badge-content {
  top: unset;
  right: unset;
}

// button.mat-list-item {
//   width: 150px;
//   margin: 10px;
//   border-radius: 15px;
// }

mat-action-list button {
  width: 150px;
  margin: 10px;
  border-radius: 15px;
}

mat-action-list button:hover {
  background-color: rgba(36, 32, 32, 0.534);
}

mat-list-item h3 {
  color: whitesmoke;
}

button {
  color: white;
}

mat-sidenav-container {
  height: 100%;
}

p mat-icon {
  color: green;
}