<div>
  <h2>Active Chats</h2>
</div>
<div>
  <mat-action-list>
  @for (conversation of conversationList(); track conversation.id) {
    @let user = getUserById(conversation);
    <button 
    mat-list-item 
    (click)='displayChat(conversation.id)' 
    [ngClass]="{
      'selected-conversation': openConversationId() == conversation.id}"
    >
      <img matListItemAvatar src='{{ conversation.conversationPictureUrl }}'/>
      <h3 matListItemTitle class='chatName'>
        <span [matBadge]="conversation.unreadMessages" [matBadgeHidden]="!conversation.unreadMessages || !notificationsOn()" matBadgeOverlap="false">{{ conversation.conversationName }}</span>
      </h3>
      <p matListItemLine>
        @if (!conversation.groupConversation) {
          @if (user?.active) {
            <mat-icon style='color: lightgreen'>check_circle</mat-icon>
          } @else {
            <mat-icon style='color: red'>close</mat-icon>
          }
        }
      </p>
    </button>
  }
  </mat-action-list>
</div>
<button mat-icon-button class='add-chat' matTooltip='Start new chat' matTooltipPosition="after" (click)='openUserList()'>
  <mat-icon>add_circle</mat-icon>
</button>

