:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(55, 55, 61);
  width: 400px;
  color: white;
}



// button.mat-list-item {     //mat-list-item
//   width: 150px;
//   margin: 10px;
//   border-radius: 15px;
// }

mat-action-list button {
  width: 170px;
  margin: 10px;
  border-radius: 20px;
}

mat-action-list button * {
  color: whitesmoke;
}

mat-action-list button:hover {
  background-color: rgba(36, 32, 32, 0.534);

}

button p {
  margin-top: 5px; 
}
userName

mat-sidenav-container {
  height: 100%;
}

p mat-icon {
  color: green;
}

.add-chat {
  color: white;
}