<div class='dialog'>
  <div>
  <div class='heading'>
    <h3>Select User to start new Chat:</h3>
  </div>
  <mat-list>
    @for (user of users(); track user) {
      <mat-list-item>
        <img matListItemAvatar src='{{ user.profilePicUrl }}'>
        <div class='list-content' matListItemTitle>
          {{ user.username }}
          @if (!this.conversationWithUserExists(user.userId)) {
            <button mat-icon-button (click)='startConversation(user)'>
              <mat-icon>person_add</mat-icon>
            </button>
          }
      </div>
      </mat-list-item>
    }
  </mat-list>
  </div>
  <button mat-raised-button class='create-group' matTooltip='Create group Chat' (click)='createGroupConversation()'> 
    <div>
      <mat-icon>groups</mat-icon>
      <mat-icon>add</mat-icon>
    </div>
  </button>
  <!-- @if (createGroupToggle) {
    <div class='profilePic'>
        Your Profile Picture:
        <img [src]='imageDisplayed' (click)='fileInput.click()'>
        <input type='file' #fileInput (change)='onFileSelected($event)' style='display: none'>
      </div>
      <mat-icon>group_add</mat-icon>    //blue
  } -->
</div>
